@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700'); /* import Montserrat font  */

.title{
	font-family: 'Montserrat', sans-serif;
	color:#ffffff;
	font-weight: bold;
	font-size:60px;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    font-weight: bold;
    font-size:25px;
}

#comeTop{
    animation: comeTopAnimation 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */
    opacity: 0;
}

#comeDown{
    animation: comeDownAnimation 1s ease-in-out forwards; /* assign animation to monitor with 'monitorIn' as keyframe name */
    animation-delay:1s;
    opacity: 0;
    padding-top:40px;
}

@keyframes comeTopAnimation{
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes comeDownAnimation{
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.title {
		font-size:50px;
	}

	.subtitle{
    font-size:15px;
	}
}