.cache-ignaciovi21
Build.ipynb
Untitled.ipynb
Untitled1.ipynb
.ipynb_checkpoints/Build-checkpoint.ipynb
pals-songmix/flask-backend/services/__pycache__/addTracksToPlaylist.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/createPlaylist.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getNothing.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getSimilarArtists.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getSongs.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getSpotifyLogin.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getSuggestedArtists.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getToken.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getTracks.cpython-37.pyc
Untitled.ipynb
Untitled1.ipynb
pals-songmix/flask-backend/services/__pycache__/createPlaylist.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getSimilarArtists.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getSongs.cpython-37.pyc
pals-songmix/flask-backend/services/__pycache__/getSpotifyLogin.cpython-37.pyc
Untitled.ipynb
Untitled.ipynb
Untitled1.ipynb
.cache-ignaciovi21
